body{
    font-family: 'Montserrat', sans-serif;
}

/* Title Section */

    /* ID Selector */
        #title{
            background-color: #ff4c68;
            padding: 3% 15% 2%;
        }

    /* Class Selector */
        .brand-style{
            font-size: 2.5rem!important;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 0;
        }

        .navbar-style{
            font-size: 1rem!important;
            font-weight: 500;
            margin-left: auto;
            margin-bottom: 0;
        }

        .nav-item-style{
            margin-right: 1.5rem;
        }

        .title-grid-style{
            padding-top: 1.5rem!important;
        }

        .big-header-style{
            color: white;
            display: block;
            font-weight: 900;
            font-size: 3.5rem;
            line-height: 1.5;
            
        }

        .next-portofolios-style{
            color: white!important;
            font-weight: 500;
        }

        .button-download-group-style{
            margin: 10% 0 10% 0;
        }

        .button-download-style{
            padding: 0.25rem 1rem;
        }

        .mockup-style{
            width: 30%;
            transform: rotate(25deg);
            position: absolute;
        }



/* Features Section */

    /* ID Selector */
        #features{
            background-color: white;
            padding: 5% 15%;
            position: relative;
        }

    /* Class Selector */
        .feature-item-style{
            padding:5%;
            text-align: center;
        }

        .feature-header-style{
            font-weight: 900;
            font-size: 1.5rem;
        }
        
        .feature-description-style{
            color:#8f8f8f;
        }

        .feature-icon-style{
            color: #ef8172;
            font-size: 4rem;
            margin-bottom: 10%;
        }


/* Testimonial Section */

    /* ID Selector */
        #testimonials{
            background-color: #ef8172;
            text-align: center;
            color: white;
            padding-top: 5%;  
        }

    /* Class Selector */
       .testimonial-text-style{
           font-weight: 700;
           font-size: 300%;
        }

       .testimonial-image-style{
        width: 5%;
        border-radius: 100%;
        margin: 20px;
        }

        .carousel-style{
            padding: 3% 15%;    
        }
        
/* Press Section */

    /* ID Selector */
        #press{
            background-color: #ef8172;
            text-align: center;
            padding: 3% 15%;
            
        }

    /* Class Selector */
        .carousel-style{
            padding: 3% 15%;    
        }

        .press-image-style{
            width: 15%;
            margin: 0 2%;
        }


/* Pricing Section */

    /* ID Selector */
        #pricing{
            background-color: white;
            text-align: center;
            padding: 5% 15%;
            position: relative;
            z-index: -2;
            
        }

    /* Class Selector */
        .pricing-header-style{
            font-weight: 700;
            font-size: 2.5rem;
        }
        
        .pricing-type-style{
            font-weight: 700;
            font-size: 1.5rem;
            margin: 0;
        }

        .pricing-table-style{
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .pricing-button-style{
            width: 100%;
        }


/* CTA Section */

    /* ID Selector */
        #cta{
            background-color: #ff4c68;
            text-align: center;
            padding: 5% 15%;
            position: relative;
            z-index: -2;
        }

    /* Class Selector */
        .cta-button-style{
            margin: 5% 1%;
        }

        .footer-icon-style{
            margin: 1%;
        }


/* Footer Section */

    /* ID Selector */
    #footer{
        background-color: white;
        text-align: center;
        padding: 3% 0 0 0;
        position: relative;
        z-index: -2;
    }

    /* Class Selector */
        .copyright-style{
            color: grey;
            font-size: 0.75rem;
            font-weight: 500;
            margin: 1% 0 2% 0;

        }
    

/* Next Portofolios */
.next-portofolios{
    position: fixed;
    z-index: -1;
    bottom: 2%;
    right: 1%;
}

/* TABLET IPAD PRO IPAD */
@media(min-width: 990px) and (max-width: 1150px){
    /* Title Section */
    .mockup-style{
        margin-left: 20%;
        transform: rotate(0)!important;
        width: 70%!important;
        position: static;
    }

    .big-header-style{
        font-size: 3rem;
    }

    .button-download-style{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .btn-dark{
        border: 2px solid #212529;
    }

}


/* MINI ANDROID TABLET */
@media (min-width: 930px) and (max-width: 989px){
    /* Title Section */
    .mockup-style{
        margin-left: 20%;
        transform: rotate(0)!important;
        width: 90%!important;
        position: static;
    }

    .big-header-style{
        font-size: 2.8rem;
    }

    .button-download-style{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .btn-dark{
        border: 2px solid #212529;
    }

}


@media (min-width: 840px) and (max-width: 929px){
    /* Title Section */
    .mockup-style{
        margin-left: 20%;
        transform: rotate(0)!important;
        width: 90%!important;
        position: static;
    }

    .big-header-style{
        font-size: 2.8rem;
    }

    .button-download-style{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .btn-dark{
        border: 2px solid #212529;
    }

}

@media (min-width: 767px) and (max-width: 839px){
    /* Title Section */
    .brand-style{
        font-size: 2rem!important;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .mockup-style{
        margin-left: 20%;
        transform: rotate(0)!important;
        width: 90%!important;
        position: static;
    }

    .big-header-style{
        font-size: 2.5rem;
    }

    .button-download-style{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .btn-dark{
        border: 2px solid #212529;
    }

    .testimonial-text-style{
        font-weight: 700;
        font-size: 250%;
     }

}

@media (min-width: 582px) and (max-width: 766px){
    .brand-style{
        font-size: 2rem!important;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
    }

    #title{
        padding-bottom: 40%;
    }
    .mockup-style{
        position: absolute;
        width: 30%;
        margin-left: 20%;
    }


    .testimonial-text-style{
        font-weight: 700;
        font-size: 250%;
     }
}

@media (min-width: 515px) and (max-width: 581px){

    .brand-style{
        font-size: 2rem!important;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .brand-style{
        font-size: 2rem!important;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
    }

    #title{
        padding-bottom: 40%;
    }
    .mockup-style{
        position: absolute;
        width: 30%;
        margin-left: 20%;
    }


    .testimonial-text-style{
        font-weight: 700;
        font-size: 250%;
     }

    .big-header-style{
        font-size: 2.5rem;
    }

    .testimonial-text-style{
        font-weight: 700;
        font-size: 200%;
     }
}

@media (max-width: 514px){

    .brand-style{
        font-size: 2rem!important;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .brand-style{
        font-size: 2rem!important;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
    }

    #title{
        padding-bottom: 40%;
    }
    .mockup-style{
        position: absolute;
        width: 30%;
        margin-left: 20%;
    }


    .testimonial-text-style{
        font-weight: 700;
        font-size: 250%;
     }

    .big-header-style{
        font-size: 2.5rem;
    }

    .testimonial-text-style{
        font-weight: 700;
        font-size: 200%;
     }

     .button-download-style{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .btn-dark{
        border: 2px solid #212529;
    }
}